body {
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  background-color: #809EC4;
  background-image: url(../img/miami-aerial.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Candal', sans-serif;
}

.fa-social {
  color: #C49845;
}

.page-2 {
  background-color: #809EC4;
}

.page-2 p {
  padding: 10px 0;
}

.page-2 a,
.page-2 a:hover {
  color: #776136;
}

.page-3 {
  background-color: #425A78;
}

.page-wrapper {
  height: 100%;
}

.page-wrapper section {
  position: absolute;
  height: 100%;
  width: 100%;
}

.page-wrapper .opening-act-h1 {
  margin: 0;
  font-family: 'Poiret One', cursive;
}

.row-hello {
  margin-top: 35%;
}

.hello-badge {
  margin-left: auto;
  margin-right: auto;
}

.hello-badge h1,
.hello-badge p {
  margin-bottom: 0;
}

.section-wrapper {
  height: 100%
}

.next-page-stack-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.next-page-button {
  border: 0;
  background-color: transparent;
}

.next-page-button:focus {
  outline-color: transparent;
  outline-width: 0;
}

.next-page-stack.fa-stack {
  position: absolute;
  bottom: 15px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

.col-about-left {
  text-align: left;
}

.col-about-right {
  text-align: right;
}

@media (min-width: 768px) {
  .margin-top-20 {
    margin-top: 25%;
  }
}

@media (min-width: 768px) {
  .margin-top-divider {
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .row-hello {
    margin-top: 40%;
  }
}

@media (max-width: 412px) {
  body {
    background-image: url(../img/miami-aerial-2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  .col-about-left,
  .col-about-right {
    text-align: center;
  }

  .col-about-center img {
    height: 240px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .margin-xs-top {
    margin-top:25%;
  }

  .margin-xs-top-divider {
    margin-top: 80px;
  }
}

@media (max-width: 320px) {
  .col-about-center img {
    height: 140px;
    width: 140px;
  }
}

@media (max-height: 414px) {
  .col-about-left,
  .col-about-right {
    text-align: center;
  }

  .col-about-center img {
    height: 140px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }

  .margin-xs-top-divider {
    margin-top: 80px;
  }
}

@media (max-height: 384px) {
  .row-hello {
    margin-top: 25%;
  }

  .col-about-center img {
    display:none;
  }
}
