# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/build
/dist
/tmp
/out-tsc

# dependencies
/node_modules
*/npm-debug.log

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# firebase
**/.firebase
**/.firebaserc
lerna-debug.log
service-account-credentials.json
**/ui-debug.log
**/database-debug.log
**/firebase-debug.log
**/pubsub-debug.log

# idea
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# vscode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# system files
.DS_Store
Thumbs.db
