[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ansible = "~=2.8.6"
boto3 = "~=1.10.14"
python-dateutil = "*"

[requires]
python_version = "3.7"
