body {
  font-family: 'Raleway', sans-serif;
}

.background {
  background-color: #809EC4;
  background-image: url(../img/miami-aerial-4k.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Candal', sans-serif;
  color: #FFF;
}

@media (max-width: 2048px) {
  body {
    font-family: 'Raleway', sans-serif;
    color: #FFF;
  }

  .background {
    background-color: #809EC4;
    background-image: url(../img/miami-aerial-2k.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 412px) {
  body {
    background-image: url(../img/miami-aerial-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
}
