<div id="fullpage" class="page-wrapper">
  <div class="background"></div>
  <section class="section uk-section page-1">
    <div class="uk-container uk-text-center">
      <div class="uk-flex-center uk-position-medium uk-position-center" uk-grid>
        <div class="">
          <h1>HELLO</h1>
          <p>My Name is</p>
          <h1 class="opening-act-h1">joel Guilarte</h1>
        </div>
      </div>
      <div class="uk-position-bottom next-page-nav-button">
        <a href="#secondPage">
          <span class="bounce next-page-stack fa-stack fa-lg">
            <i class="fas fa-circle-notch fa-stack-2x" aria-hidden="true"></i>
            <i class="fas fa-chevron-down fa-stack-1x" aria-hidden="true"></i>
          </span>
        </a>
      </div>
    </div>
  </section>

  <section class="section uk-section page-2">
    <div class="uk-container">
      <div class="uk-position-medium tab">
        <ul class="uk-flex-center" uk-tab="connect: #content-list">
            <li class=""><a class="uk-text-large" href="#about">About</a></li>
            <li class=""><a class="" href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="uk-height-medium">
        <ul id="content-list" class="uk-switcher">
          <li>
            <div id="about-me" class="toggle-me uk-grid-small uk-child-width-expand@s uk-flex-center uk-margin-remove-left" uk-grid>
              <div class="uk-text-justi">
                <p>
                  I enjoy solving problems through software and automation. In the past few years I have been trying to bridge the gap between
                  infrastructure teams and development teams. Trying to fill these gaps has taught me alot of about how important team structure
                  and organization structure is so crucial to building successful software solutions.
                </p>
              </div>
              <div class="uk-text-justi">
                <p>
                  Currently, I am a consulant for Ernst & Young, specialzing in Cloud Architecture and DevOps. I have helped clients shift to a
                  culture of repid development on the cloud by leverging DevOps. In our implementations we seek to help teams implement CI/CD
                  tools. Above all DevOps is a culture shift from traditional IT operations.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div id="contact-me" class="toggle-me uk-grid-small uk-child-width-expand@s uk-flex-center uk-text-center uk-margin-remove-left" uk-grid>
              <div class="">
                <a href="https://www.linkedin.com/in/joelguilarte" target="_blank"><i class="fab fa-linkedin fa-5x"
                    aria-hidden="true"></i></a>
                <div>
                  <p class="fa-social">LinkedIn</p>
                </div>
              </div>
              <div class="">
                <a href="https://github.com/jolt23" target="_blank"><i class="fab fa-github-alt fa-5x"
                    aria-hidden="true"></i></a>
                <div>
                  <p class="fa-social">GitHub</p>
                </div>
              </div>
              <div class="">
                <a href="https://twitter.com/intent/follow?screen_name=joel_guilarte"><i class="fab fa-twitter fa-5x"
                    aria-hidden="true"></i></a>
                <div>
                  <p class="fa-social">Twitter</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="uk-position-medium uk-position-bottom">
        <footer class="uk-text-center ">
          <i class="fas fa-envelope-open-text"></i>
          Email: <a href="mailto:joel@tailormade.systems">Joel Guilarte</a>
        </footer>
      </div>
    </div>
  </section>
</div>
