<div id="fullpage" class="page-wrapper">
  <div class="background"></div>
  <section class="section uk-section page-1">
    <div class="uk-container uk-text-center">
      <div class="uk-flex-center uk-position-medium uk-position-center" uk-grid>
        <div class="">
          <h1>HELLO</h1>
          <p>My Name is</p>
          <h1 class="opening-act-h1">joel Guilarte</h1>
        </div>
      </div>
      <div class="uk-position-bottom next-page-nav-button">
        <a href="#secondPage">
          <span class="bounce next-page-stack fa-stack fa-lg">
            <i class="fas fa-circle-notch fa-stack-2x" aria-hidden="true"></i>
            <i class="fas fa-chevron-down fa-stack-1x" aria-hidden="true"></i>
          </span>
        </a>
      </div>
    </div>
  </section>

  <section class="section uk-section page-2">
    <div class="uk-container">
      <div class="uk-position-medium uk-position-top">
        <div class="">
          <h1 class="">About</h1>
        </div>
      </div>
      <div class="uk-grid-small uk-child-width-expand@s uk-flex-center" uk-grid>
        <div class="">
          <p>
            I enjoy solving problems through software and automation. I am also an advocate for DevOps culture. In the past few
            years I have been trying to bridge the gap between infrastructure teams and development teams. Trying to feel these gaps
            has taught me alot of about how to build proper teams, and design modular software.
          </p>
        </div>
        <div class="">
          <img src="https://s.gravatar.com/avatar/78f1902ee8414592e0fb1a38a4b3e345?s=300" alt="Joel Guilarte"
            class="uk-responsive uk-border-circle uk-margin-auto uk-display-block" id="image_me">
        </div>
        <div class="">
          <p>
            Currently I work as an Automation Architect, for the Platform Team at Royal Caribbean. I have helped put automation tooling
            in place for infrastructure provisioning and configuration. We have also implemented CI/CD pipelines for microservices, web,
            and mobile applications.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section uk-section page-3">
    <div class="uk-container">
      <div class="uk-position-medium uk-position-top">
        <div class="">
          <h1>Contact</h1>
        </div>
      </div>
      <div class="uk-flex-center uk-position-medium uk-position-center uk-text-center" uk-grid>
        <div class="">
          <a href="https://www.linkedin.com/in/joelguilarte" target="_blank"><i class="fab fa-linkedin fa-5x"
              aria-hidden="true"></i></a>
          <div>
            <p class="fa-social">LinkedIn</p>
          </div>
        </div>
        <div class="">
          <a href="https://github.com/jolt23" target="_blank"><i class="fab fa-github-alt fa-5x"
              aria-hidden="true"></i></a>
          <div>
            <p class="fa-social">GitHub</p>
          </div>
        </div>
        <div class="">
          <a href="https://twitter.com/intent/follow?screen_name=joel_guilarte"><i class="fab fa-twitter fa-5x"
              aria-hidden="true"></i></a>
          <div>
            <p class="fa-social">Twitter</p>
          </div>
        </div>
      </div>
      <div class="uk-flex-center uk-position-bottom uk-text-center">
        <footer>
          <i class="fas fa-envelope-open-text"></i>
          Email: <a href="mailto:joel@tailormade.systems">Joel Guilarte</a>
        </footer>
      </div>
    </div>
  </section>
</div>
